summary:before {
    content: " ";
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent transparent black;
    height: 0;
    font-size: 0;
    position: absolute;
    left: 18px;
    transition: transform 0.5s;
    transform-origin: 2px center;
}

summary {
    cursor: pointer;
}

details[open] summary:before {
    transform: rotate(90deg);
}