/* Triangle inserted before each <label> that is child of class=".collapsible" (:first-child here because auto-wrapping of <p>) */
.collapsible > :first-child label:before {
    content: " ";
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent transparent black;
    height: 0;
    font-size: 0;
    position: absolute;
    left: 18px;
    transition: transform 0.5s;
    transform-origin: 2px center;
}

/* For each <label> that is child of class=".collapsible" */
.collapsible > :first-child label {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    padding: 5px 0px 5px 20px;
    border-radius: 8px;
    cursor: pointer;
}

/* For each <label> that is child of class=".collapsible", select all descendants */
.collapsible > :first-child label * {
    cursor: pointer;
}

/* For all children after <label> for class=".collapsible" */
.collapsible > :not(:first-child) {
    padding: 10px;
    height: 0;
    overflow: hidden;
    opacity: 0;
}
  
/* For all <input> inside <label> for class=".collapsible" */
.collapsible > :first-child input {
    display: none;
}

/* When checked: .collapsible > :first-child:before */
.collapsible > :first-child label:has(input:checked):before {
    transform: rotate(90deg);
}

/* When checked: .collapsible > :not(:first-child) */
.collapsible:has(input:checked) > :not(:first-child) {
    padding: 10px;
    opacity: 1;
    height: auto;
    list-style-type: square;
}