/* Triangle inserted before each <label> */
.collapsible :before {
    content: " ";
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent transparent black;
    height: 0;
    font-size: 0;
    position: absolute;
    left: 18px;
    transition: transform 0.5s;
    transform-origin: 2px center;
}
  
.collapsible {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 0px 5px 20px;
    border-radius: 8px;
}
  
.collapsible ~ ul {
    padding: 10px;
    height: 0;
    overflow: hidden;
    opacity: 0;
}
  
.collapsible > input {
    display: none;
}

.collapsible :has(input:checked) :before {
    transform: rotate(90deg);
}

.collapsible :has(input:checked) ~ ul {
    padding: 10px;
    opacity: 1;
    height: auto;
    list-style-type: square;
}