summary:before {
    content: " ";
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent transparent black;
    height: 0;
    font-size: 0;
    position: absolute;
    left: 18px;
    transition: transform 0.5s;
    transform-origin: 2px center;
}

summary {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    padding: 5px 0px 5px 20px;
    border-radius: 8px;
    cursor: pointer;
}

details > :not(summary) {
    margin: 0px;
    padding: 0px;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

details[open] summary:before {
    transform: rotate(90deg);
}

details[open] > :not(:first-child) {
    padding: 10px;
    opacity: 1;
    height: auto;
}